{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_style %}

{% block content %}
<div class="container">
    <br>
    <h1>휴가 달력</h1>
    <div class="outer">
    </div>
    {{ calendar }}
</div>
{% endblock %}