{% load socialaccount %}
{% providers_media_js %}

<h1>hello world</h1>

<a href="{% url 'account_signup' %}">회원가입</a>
<br>

{% if user.is_authenticated %}
<a href="{% url 'account_logout' %}">로그아웃</a>
<br>
{{user.username}} 님이 로그인 중
{% else %}
<a href="{% provider_login_url 'google' %}">구글 로그인</a>
로그인해야됌
{% endif %}