h1 {
    text-align : center;
}

.calendar {
    width: 70vw;
    font-size: 1rem;
    margin: auto;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2), 10px 10px 10px 10px #fff;
    color: #555;
    text-align: center;
}

.month {
    font-size: 1rem;
}

.date {
    font-size: 1rem;
}

.calendar .month {
    color: #222222;
    font-weight: 800;
}

.calendar th {
    color: #e66b6b;
    padding: 2vw;
    text-align: center;
    font-size: 1.5rem;
}

.calendar tr {
    font-weight: 700;
    text-transform: uppercase;
}

.calendar td:hover {
    background: #cacaca;
    color: #fff;
}
